body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #de411b;
}

.event-title {
  color: #de411b
}

#page-header {
  background-color: #fff;
  position: sticky;
  top: 0;
}

.link-item {
  color: #de411b
}

.logo {
  height: 50px;
  padding: 6px;
}

.main-content-component {
  margin-bottom: 40px;
}

.order-table {
  @apply border border-slate-800 p-2;
}
